{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Darkhorse</h1>
    <p><b><i>DOMINATE YOUR DRAFT AND RIDE TO THE CHAMPIONSHIP!</i></b></p>
    <img class="logo" src="{{ url_for('static', filename='images/flask_logo.png') }}" alt="Flask Logo">
    <p>Darkhorse Fantasy is an organization dedicated to revolutionizing 
        the way fantasy football enthusiasts engage with their leagues. Leveraging 
        cutting-edge data analytics and machine learning technologies, we provide
        the most accurate and insightful analysis to help users dominate their fantasy 
        football drafts and seasons. Our platform offers a suite of powerful tools, including 
        easily maneuverable player rankings, up-to-date player news, interactive mock drafts, 
        and comprehensive betting odds. At Darkhorse Fantasy, our mission is to empower fantasy 
        football managers with the best resources to achieve championship success. </p>
    
{% endblock %}
    
